.header {
	position: sticky;
	top: 0;

	background-color: white;
	box-shadow: 0px .5rem 1rem 0px rgba(0, 0, 0, .15);

	padding: .5rem 1rem;
	
	&_wrapper {
		height: 2.5rem;
		display: flex;
		align-items: center;
		position: relative;
	}

	&_action {
		background: transparent;
		border: none;
		padding: 0;

		height: 100%;
		width: 2.5rem;

		cursor: pointer;

		border-radius: 50%;

		&:focus {
			outline: 0;
		}

		@media (hover: hover) {
			&:hover {
				background: #c8ccd4;
			}
		}

		&.user {
			margin-left: .5rem;
			background: #c8ccd4;
		}
	}
}