@import '~styles/variables.scss';

.search {
	position: relative;
	display: flex;
	align-items: center;

	width: 100%;
	height: 100%;
	max-width: 20rem;
	margin: auto;
	background: white;

	@include for-phone {
		width: inherit;
		margin-right: 0;
	}

	.header_action {
		position: absolute;
		left: .25rem;
		display: flex;
		align-items: center;
		pointer-events: none;
		flex-shrink: 0;

		@include for-phone {
			position: initial;
			justify-content: center;
			pointer-events: all;
		}
	}

	.icon {
		color: #c8ccd4;

		@include for-phone {
			color: inherit;
		}
	}

	.input {
		display: block;
		height: 100%;
		width: 100%;
		background: transparent;
		padding-top: .5rem;
		padding-left: 2rem;
	
		transition: all .15s ease;
	
		border: 0;
		border-bottom: 2px solid #c8ccd4;
	
		font-size: 1rem;
		line-height: 1.5rem;
	
		&:hover {
			border-radius: .5rem .5rem 0 0;
			background: rgba(#223254, .03);
		}
	
		&:focus {
			border-color: #07f;
			outline: none;
			background: none;
		}
	
		@include for-phone {
			display: none;
		}
	}

	.label {
		position: absolute;
		left: 2rem;

		&--up {
			transform: translateY(-1rem) scale(.75)
		}

		@include for-phone {
			display: none;
		}
	}

	&--expanded {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		max-width: inherit;

		.icon {
			color: inherit;
		}

		.header_action {
			pointer-events: all;
			position: initial;
			justify-content: center;
		}

		.input {
			padding-left: inherit;
			margin-left: .5rem;

			@include for-phone {
				display: inherit;
			}
		}

		.label {
			left: 3rem;

			@include for-phone {
				display: inherit;
			}
		}
	}
}
